.projects {
    /* flex: 1;
    background-color: rgb(232, 232, 255);
    position: sticky;
    height: 100%;
    margin-bottom: -4px;
    float: down; */
    background-color: rgb(232, 232, 255);
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 4px 4px 6px rgb(156, 156, 156);
}

.projectWrapper {
    padding: 10px;
    color: #555;
    height:max-content;
}

.projectSelection {
    padding-bottom: 1px;
}

.title {
    -size: 20px;
    text-align: center;
    color: black;
}

.projectTitle {
    margin-left: -30px;
    list-style: none;
    padding:10px;
    text-align: center;
}

.buttons {
    color: black; 
    background-color: rgba(54, 162, 235, 0.20);
    background-image: linear-gradient(rgba(112, 133, 255, 0.37), rgba(144, 161, 255, 0.205));
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-family: 'Trebuchet MS';
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(156, 156, 156);
    cursor: pointer;
    margin-left: -10px;
}

.buttonsA {
    color: black; 
    background-color: rgba(54, 162, 235, 0.20);
    background-image: linear-gradient(rgba(64, 92, 248, 0.815), rgba(104, 126, 253, 0.774));
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-family: 'Trebuchet MS';
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgb(89, 71, 248);
    cursor: pointer;
    margin-left: -10px;
}